body {
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

body > h1 {
    text-align: center;
    -webkit-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

body > div {
    width: 70vw;
    height: 100%;
    -webkit-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
}

.hide {
    display: none !important;
}

#feedback {
    min-width: 2em;
    max-width: 15em;
    height: 3em;
    padding: .4vh .8vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #3f3f3f;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    position: fixed;
    top: 3vh;
    right: -20em;
    left: unset;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-box-shadow: 1px 1px 9px 0px #dbdbdb;
            box-shadow: 1px 1px 9px 0px #dbdbdb;
    -webkit-transition: right 300ms ease-in-out;
    -o-transition: right 300ms ease-in-out;
    transition: right 300ms ease-in-out;
}

#feedback div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#feedback span {
    width: 100%;
    text-align: left;
    margin-left: .75em;
    font-size: 1.1em;
}

#feedback i {
    font-size: 1.7em;
}

#feedback i:nth-child(1) {
    color: #009bab;
}

#feedback i:nth-child(2) {
    color: #dc5656;
}

@media screen and (max-aspect-ratio: 1/1) {
    #feedback {
        min-width: 9vw;
        max-width: 90vw;
        height: 3em;
        padding: .4vh .8vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background: #3f3f3f;
        color: #fff;
        font-weight: bold;
        border-radius: 5px;
        position: fixed;
        top: 3vh;
        right: -100vw;
        left: unset;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        -webkit-box-shadow: 1px 1px 9px 0px #dbdbdb;
                box-shadow: 1px 1px 9px 0px #dbdbdb;
        -webkit-transition: right 300ms ease-in-out;
        -o-transition: right 300ms ease-in-out;
        transition: right 300ms ease-in-out;
        z-index: 100;
    }
    
    #feedback div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    
    #feedback span {
        width: 100%;
        text-align: left;
        margin-left: .75em;
        font-size: 1.1em;
    }
    
    #feedback i {
        font-size: 1.7em;
        margin-left: 1vw;
    }
    
    #feedback i:nth-child(1) {
        color: #009bab;
    }
    
    #feedback i:nth-child(2) {
        color: #dc5656;
    }
}